  .navbar-brand{
      font-family: bremen;
      font-size: larger;
  }

  .float {
    position: fixed;
    width: 52px;
    height: 52px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 33px; 
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
  }

  .my-float {
    margin-top: 16px;
  }

  .submit{
      background-color: rgb(0, 99, 53);
      color: white;
      border: none;
      width: 80px;
      height: 35px;
      border-radius: 10px;
  }

  .submit:hover {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 99, 53);
    color: rgb(0, 99, 53);
  }

  @font-face {
    font-family: bremen;
    src: url(Bremen\ Bd\ BT.ttf);
  }
